 html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: calc(100% - 67px);
    position: relative;
}
input {
    font-size: 12px;
}
h1 {
    color: #525454;
    font-size: 22px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}
#heading {
    height: 30px;
    padding: 5px;
}
#navbar {
    height: 25px;
}
#map {
    bottom:0px;
    height: 100%;
    left: 354px;
    position: absolute;
    right: 0px;
}
#side_bar {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    text-align: left;
    width: 342px;
    padding-left: 10px;
}
#checkbox_list {
    position: relative;
    height: 250px;
    margin-bottom: 10px;
}
#eventListHeader {
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#eventList {
    position: absolute;
    max-height: calc(100% - 380px);
    max-width: 100%;
    overflow: auto;
}
.eventListing {
    margin: 10px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
}