html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333333;
}
input {
    font-size: 12px;
}
h1 {
    color: #525454;
    font-size: 22px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
h1 a {
    cursor: pointer;
}
h2 {
    margin: 0px 0px 0px 0px;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}
button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #4CAF50; /* Green */
    cursor: pointer;
}
button:hover {
    background-color: #3e8e41;
}

/* Conainter boxes for body (.container) and header */

.container {
    height: calc(100% - 56px);
    position: relative;
}
.header {
    height: 55px;
    line-height: 55px;
    position: relative;
    background-color: #f1f1f1;
    border-bottom: 1px solid #000066;
}

/* Header elements */

#navbar {
    height: 100%;
    width: 420px;
    position: absolute;
}
#nav_list_button {
    display: none;
    font-size: 20px;
}
#navlist {
    background-color: white;
    overflow: hidden;
}
.nav_link {
    font-weight: bold;
    color: #525454;
    float: left;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
}
.nav_link:hover {
    background-color: #ddd;
    color: #ff8533;
}
#weatherContainer {
    width: 420px;
    position: relative;
    float: right;
}
.weather {
    height: 100%;
    position: relative;
    line-height: 55px;
    float: right;
    margin-right: 20px;
}
#weatherInfo {
    line-height: 55px;
    height: 100%;
}
#weatherTemp, #weatherMain {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin-bottom: 16.5px;
}
#weather img {
    margin-top: 2.5px;
}
#heading {
    height: auto;
    line-height: 55px;
    overflow: hidden;
    margin-left: 420px;
}
#page_title {
    font-size: 28.5px;
}
#page_title:hover {
    color: #ff8533;
}
#page_title_end {
    color: #ff8533;
}
.head_full {
    display: inline-block;
}
.head_full span {
    white-space:pre;
}
#event_header {
    margin-bottom: 10px;
}
@media screen and (max-width: 1210px) {
    #weatherContainer {
        width: 276px;
    }
}
@media screen and (max-width: 1062px) {
    #weatherMain {
        display: none;
    }
    #weatherContainer {
        width: auto;
    }
    #navbar {
        width: auto;
    }
    .nav_button {
        display: none;
    }
    .nav_button#nav_list_button {
        display: block;
    }
    #heading {
        margin-left: 186px;
    }
}
@media screen and (max-width: 750px) {
    #heading {
        margin-left: 42px;
    }
}
@media screen and (max-width: 592px) {
    .head_full {
        display: none;
    }
}

/* Button elements */
.button_container {
    float: none;
}
.nav_button {
    font-size: 16px;
    padding: 10px 10px;
    margin: 3px 0px 3px 3px;
    border-radius: 2px;
}
.event_button {
    height: 30px;
    padding: 3px 10px 3px 10px;
}
.new_marker_button {
    width: 112px;
    height: 20px;
}
.new_marker_text {
    font-size: 15px;
}
.filter_button {
    margin: 0px 0px 0px 10px;
    position: relative;
    display: inline-block;
    width: 305px;
}
#submit_button {
    width: 50%;
    margin: 0 auto;
}
#submit_button button {
    width: 100%;
}
#new_hotzone {
    height: 20px;
}

/* Dropdown Filter menu */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    margin-left: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 5px;
}
.dropdown-content span {
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content span:hover {background-color: #f1f1f1}
.show {display:block;}
.button_div {
    float: left;
    margin: 0px 5px 0px 0px;
    min-height: 30px;
}

/* Map */

#map {
    bottom: 0px;
    height: 100%;
    left: 344px;
    position: absolute;
    right: 0px;
}

/* Side bar elements */
#side_bar {
    background: #ffffff;
    border-right: 1px solid #000066;
    height: 100%;
    line-height: 35px;
    text-align: left;
    width: 342px;
}
#new_tab {
    padding-left: 10px;
    padding-right: 10px;
}
#eventListHeader {
    height: 35px;
    padding: 10px 0px 10px 10px;
}
#eventList {
    position: absolute;
    max-height: calc(100% - 100px);
    max-width: 340px;
    overflow: auto;
    background-color: #f1f1f1;
}
.eventListing {
    margin: 10px;
    border: 1px solid #000066;
    border-radius: 3px;
    padding: 5px;
    background-color: #ffffff;
    width: 293px;
}