html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333333;
}
input {
    font-size: 12px;
}
h1 {
    color: #525454;
    font-size: 22px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
h2 {
    margin: 0px 0px 0px 0px;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}
button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #4CAF50; /* Green */
}
/* Dropdown button on hover & focus */
button:hover {
    background-color: #3e8e41;
}
.container {
    height: calc(100% - 56px);
    position: relative;
}
.header {
    height: 55px;
    line-height: 55px;
    position: relative;
    background-color: #f1f1f1;
    border-bottom: 1px solid #000066;
}
.button_container {
    float: none;
}
.nav_button {
    font-size: 16px;
    padding: 10px 10px;
    margin: 3px 0px 3px 3px;
    border-radius: 2px;
}
.event_button {
    height: 30px;
    padding: 3px 10px 3px 10px;
}
.new_marker_button {
    width: 112px;
    height: 20px;
}
.new_marker_text {
    font-size: 15px;
}
.filter_button {
    margin: 0px 0px 10px 10px;
    position: relative;
    display: inline-block;
    width: 300px;
}
#submit_button {
    width: 50%;
    margin: 0 auto;
}
#submit_button button {
    width: 100%;
}
#new_hotzone {
    height: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-left: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 5px;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: black;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.button_div {
    float: left;
    margin: 0px 5px 0px 0px;
    min-height: 30px;
}
#heading {
    height: auto;
    line-height: 55px;
    overflow: hidden;
}
#page_title {
    font-size: 28.5px;
}
#page_title_end {
    color: #ff8533;
}
#navbar {
    height: 100%;
    width: 420px;
    position: absolute;
    /*float: left;*/
}
#map {
    bottom: 0px;
    height: 100%;
    left: 344px;
    position: absolute;
    right: 0px;
}
#side_bar {
    background: #ffffff;
    border-right: 1px solid #000066;
    height: 100%;
    line-height: 35px;
    text-align: left;
    width: 342px;
}
#new_tab {
    padding-left: 10px;
}
#eventListHeader {
    height: 35px;
    padding: 10px 0px 10px 10px;
}
#eventList {
    position: absolute;
    max-height: calc(100% - 100px);
    max-width: 340px;
    overflow: auto;
    background-color: #f1f1f1;
}
.eventListing {
    margin: 10px;
    border: 1px solid #000066;
    border-radius: 3px;
    padding: 5px;
    background-color: #ffffff;
}